.example {
    background: $grey;
    padding-bottom: 75px;
    @include tablet {
        background: $white;
    }
    .container {
        display: flex;
        @include tablet {
            flex-direction: column;
        }
    }
    &__content {
        width: 430px;
        @include tablet {
            width: auto;
        }
    }
    &__title {
        margin: 0;
        position: relative;
        top: -140px;
    }
    &__description {
        font: $desc;
    }
    &__achivments {
        display: flex;
    }
    &__cost {
        text-transform: uppercase;
        font-weight: 400;
    }
}

.achivment {
    width: 160px;
    margin-right: 40px;
    border: 1px solid #cdcdcd;
    &__value {
        font-size: 30px;
        line-height: 37px;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__title {
        font-family: $arial;
        font-size: 14px;
        line-height: 14px;
        color: $darkgrey;
        text-align: center;
    }
}

.slider {
    @include tablet {
        background: $grey;
        min-height: 460px;
    }
    &__images {
        width: 650xp;
    }
}