.intro {
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 115px 40px 205px 125px;
        color: $black;
        @include mobile {
            align-items: center
        }
    }
    &__image {
        position: absolute;
        top: 30px;
        right: 257px;
    }
    &__title {
        margin: 0;
        color: $black;
    }
    &__subtitle {
        text-transform: uppercase;
        margin: 33px 0 70px 0;
    }
}

@include tablet {
    .intro {
        &__wrapper {
            padding: 62px 30px 370px 100px;
        }
        &__image {
            top: 260px;
            right: 110px;
            z-index: -1;
        }
        &__subtitle {
            text-transform: uppercase;
            margin: 33px 0 48px 0;
        }
    }
}

@include mobile {
    .intro {
        background: url(../../../img/index-background-mobile@1x.jpg) no-repeat;
        background-size: 100%;
        &__wrapper {
            padding: 0px 20px;
        }
        &__image {
            position: static;
            z-index: 0;
        }
        &__title {
            margin: 30px 0 0 0;
            text-align: center;
            color: $white;
            font-weight: 400;
            font-size: 36px;
            line-height: 38px;
        }
        &__subtitle {
            font-size: 14px;
            color: $white;
            margin: 20px 0 30px 0;
        }
    }
}