.intro {
    @include mobile {
        background: url(../../../img/index-background-mobile@1x.jpg) no-repeat;
        background-size: 100%;
    }
    &__wrapper {
        color: $black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include mobile {
            align-items: center
        }
    }
    &__title {
        color: $black;
        @include mobile {
            margin: 0px;
            color: $white;
            padding: 30px 0 20px 0;
            font-weight: 400;
            line-height: 45px;
            text-align: center;
        }
    }
    &__subtitle {
        text-transform: uppercase;
        @include mobile {
            font-size: 14px;
            color: $white;
            margin-bottom: 30px;
        }
    }
}

@include tablet {
    .intro__image {
        justify-content: center;
    }
}