.additional-goods {
    margin-bottom: 90px;
    &__content {
        display: flex;
        justify-content: space-between;
        @include tablet {
            width: 100%;
            flex-direction: column;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 895px;
        @include tablet {
            width: 100%;
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px 0;
        margin: 12px 0;
    }
    &__name {
        text-transform: uppercase;
        @include tablet {
            flex-basis: 65%;
        }
    }
    &__value,
    &__price {
        font: normal 16px/20px $arial;
    }
    &__order {
        @include tablet {
            flex-grow: 1;
            margin: 25px 0;
        }
    }
    &__gift {
        width: 245px;
        padding-top: 190px;
        background: url(../../../img/gift-photo-desktop@1x.jpg) center center no-repeat;
        &-text {
            font: normal 16px/20px $arial;
            color: $white;
            text-align: center;
            @include tablet {
                display: flex;
                align-items: center;
                text-align: left;
                min-height: 200px;
                padding-left: 420px;
            }
        }
        @include tablet {
            width: 100%;
            padding-top: 0;
            background: url(../../../img/gift-photo-tablet@1x.jpg) center center no-repeat;
        }
    }
    &__button {
        font-size: 16px;
        line-height: 20px;
        padding: 15px 95px;
        @include tablet {
            padding: 13px 320px;
        }
    }
}