//fonts
$regular: 'Oswald Regular',
"Arial",
sans-serif;
$arial: "Arial",
sans-serif;
//colors
$black:#111111;
$darkgrey: #444444;
$grey: #f2f2f2;
$green: #68b738;
$white:#ffffff;
//description
$desc:normal 16px/24px $arial;