.button {
    background: $green;
    color: $white;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    &__intro {
        display: block;
        padding: 15px 30px;
        @include mobile {
            width: 100%;
        }
    }
}