.button {
    background: $green;
    color: $white;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    &__intro {
        display: block;
        padding: 15px 30px;
        &:hover,
        &:active {
            background: #5eaa2f;
        }
        &:active {
            color: rgba(216, 235, 55, 0.8)
        }
        @include mobile {
            width: 100%;
            font-size: 14px;
            line-height: 18px;
        }
    }
}