.main-nav {
    &__list {
        display: flex;
        justify-content: flex-end;
    }
    &__link {
        display: block;
        padding: 15px 0 15px 40px;
        color: $white;
        text-transform: uppercase;
    }
}