.map {
    position: relative;
    padding: 100px 0;
    &--grey {
        @include mobile {
            background: $grey;
        }
    }
    @include tablet {
        padding: 0px;
    }
    &__img {
        position: absolute;
        bottom: 0;
        @include tablet {
            margin-top: 60px;
            position: static;
            min-height: 400px;
        }
        @include mobile {
            margin-top: 0px;
            min-height: 360px;
        }
    }
}

.map__adress {
    &-container {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 570px;
        box-sizing: border-box;
        padding: 70px 80px;
        background: $white;
        @include tablet {
            width: auto;
            padding: 0px 40px;
            margin: 0px;
        }
        @include mobile {
            padding: 30px 0px;
        }
        &--grey {
            @include mobile {
                background: $grey;
            }
        }
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
        font: $desc;
        line-height: 20px;
        @include tablet {
            flex-wrap: wrap;
            text-align: right;
        }
        @include mobile {
            font-size: 14px;
            text-align: left;
        }
    }
    &-title {
        margin: 0;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        @include mobile {
            font-size: 16px;
            line-height: 20px;
        }
    }
    &-city {
        margin-top: 16px;
        @include mobile {
            margin-top: 0px;
        }
    }
}