.map {
    position: relative;
    padding: 100px 0;
    &--grey {
        @include mobile {
            background: $grey;
        }
    }
    @include tablet {
        padding: 0px;
    }
    &__img {
        position: absolute;
        bottom: 0;
        @include tablet {
            margin-top: 60px;
            position: static;
            min-height: 400px;
        }
        @include mobile {
            margin-top: 30px;
            min-height: 360px;
        }
    }
}

.map__adress {
    &-container {
        display: flex;
        position: relative;
        z-index: 1;
        align-items: center;
        width: 570px;
        box-sizing: border-box;
        padding: 70px 80px;
        background: $white;
        @include tablet {
            width: auto;
            justify-content: space-between;
            padding: 0px;
            margin: 0px;
        }
        &--grey {
            @include mobile {
                background: $grey;
            }
        }
    }
    &-wrapper {
        font: $desc;
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
        @include mobile {
            font-size: 14px;
            line-height: 20px;
            justify-content: flex-start;
        }
    }
    &-title {
        text-transform: uppercase;
        font-weight: normal;
        line-height: 25px;
        @include mobile {
            font-size: 16px;
            line-height: 20px;
        }
    }
}